In [25]:
%load_ext autoreload
%autoreload 2

import pandas as pd 
from tqdm import tqdm

In [2]:
metadata = pd.read_csv("/home/lukas/projects/Bird2Vec/gadme/data/metadata/metadata.csv")

In [4]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659989 entries, 0 to 659988
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               659989 non-null  int64
 1   english_name     659989 non-null  object
 2   lat              642848 non-null  float64
 3   lng              642897 non-null  float64
 4   alt              636127 non-null  object
 5   type             654268 non-null  object
 6   sex              139296 non-null  object
 7   licence          659989 non-null  object
 8   q                659989 non-null  object
 9   length_s         659989 non-null  int64
 10  scientific_name  659989 non-null  object
 11  continent        659989 non-null  object
 12  secondary_sci    659989 non-null  object
 13  ebird_code       659989 non-null  object
 14  file_name        659989 non-null  object
 15  secondary_ebird  659989 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 80.6+ MB

In [6]:
metadata.head()

,id,english_name,lat,lng,alt,type,sex,licence,q,length_s,scientific_name,continent,secondary_sci,ebird_code,file_name,secondary_ebird
0,516153,Common Ostrich,-23.9513,29.4735,1300,call,NaN,//creativecommons.org/licenses/by-nc-nd/4.0/,A,53,struthio camelus,africa,[],ostric2,africa/struthio_camelus/XC516153.ogg,[]
1,208209,Common Ostrich,-22.6770,28.2629,750,call,NaN,//creativecommons.org/licenses/by-nc-sa/4.0/,A,26,struthio camelus,africa,['Caprimulgus rufigena'],ostric2,africa/struthio_camelus/XC208209.ogg,['rucnig1']
2,208128,Common Ostrich,-22.6085,28.2996,750,call,NaN,//creativecommons.org/licenses/by-nc-sa/4.0/,A,4,struthio camelus,africa,[],ostric2,africa/struthio_camelus/XC208128.ogg,[]
3,46725,Common Ostrich,-24.3834,30.9334,523,call,NaN,//creativecommons.org/licenses/by-nc-nd/2.5/,A,11,struthio camelus,africa,[],ostric2,africa/struthio_camelus/XC46725.ogg,[]
4,673753,Common Ostrich,-26.9306,26.2697,1500,call,uncertain,//creativecommons.org/licenses/by-nc-sa/4.0/,C,11,struthio camelus,africa,"['Tricholaema leucomelas', 'Curruca subcoerule...",ostric2,africa/struthio_camelus/XC673753.ogg,"['piebar1', 'ruvwar2', 'laudov1']"

In [11]:
na_metadata = metadata.loc[metadata["continent"]=="north_america"]

In [12]:
na_metadata.shape

(106662, 16)

In [17]:
na_metadata_sample = na_metadata.sample(50_000, random_state=7, ignore_index=True)

In [18]:
na_metadata_sample.shape

(50000, 16)

In [20]:
na_metadata_sample.to_csv("/home/lukas/projects/Bird2Vec/gadme/data/metadata/metadata_na_50.csv")

In [19]:
na_metadata_sample.head()

,id,english_name,lat,lng,alt,type,sex,licence,q,length_s,scientific_name,continent,secondary_sci,ebird_code,file_name,secondary_ebird
0,550424,Song Sparrow,45.0889,-74.2627,100,song,NaN,//creativecommons.org/licenses/by-nc-sa/4.0/,B,167,melospiza melodia,north_america,"['Melospiza melodia', 'Geothlypis trichas']",sonspa,north_america/melospiza_melodia/XC550424.ogg,"['sonspa', 'comyel']"
1,363656,Scarlet Tanager,34.3615,-87.1788,260,song,male,//creativecommons.org/licenses/by-nc-sa/4.0/,B,66,piranga olivacea,north_america,['Vireo olivaceus'],scatan,north_america/piranga_olivacea/XC363656.ogg,['reevir1']
2,499738,Eared Poorwill,21.4871,-104.9933,1400m,song,NaN,//creativecommons.org/licenses/by-nc-sa/4.0/,A,196,nyctiphrynus mcleodii,north_america,['Antrostomus arizonae'],earpoo1,north_america/nyctiphrynus_mcleodii/XC499738.ogg,['souwpw1']
3,135666,Prairie Warbler,35.5587,-84.1326,260,song,NaN,//creativecommons.org/licenses/by-nc-sa/3.0/,A,63,setophaga discolor,north_america,['Icteria virens'],prawar,north_america/setophaga_discolor/XC135666.ogg,['yebcha']
4,495394,Black-crowned Antshrike,9.1270,-79.7150,70,song,male,//creativecommons.org/licenses/by-nc-sa/4.0/,A,44,thamnophilus atrinucha,north_america,['Microrhopias quixensis'],wesant1,north_america/thamnophilus_atrinucha/XC495394.ogg,['dowant1']

In [21]:
metadata = pd.read_csv("/home/lukas/projects/Bird2Vec/gadme/data/metadata/metadata_na_1k.csv", index_col='id')

In [22]:
metadata.head()

,lat,lng,type,sex,primary,continent,secondary,file_name,ebird_code
id,,,,,,,,,
241017,31.4312,-110.2366,song,NaN,campylorhynchus brunneicapillus,North America,"['Zenaida asiatica', 'Haemorhous mexicanus', '...",data/xeno-canto/north_america/campylorhynchus_...,cacwre
741556,17.8693,-97.0266,song,NaN,vireo hypochryseus,North America,[],data/xeno-canto/north_america/vireo_hypochryse...,golvir1
796595,43.0706,-76.0712,call,uncertain,corvus brachyrhynchos,North America,[],data/xeno-canto/north_america/corvus_brachyrhy...,amecro
796809,17.1543,-88.8522,song,NaN,cyanoloxia cyanoides,North America,[],data/xeno-canto/north_america/cyanoloxia_cyano...,bubgro1
236014,29.7599,-95.4468,song,NaN,thryothorus ludovicianus,North America,[],data/xeno-canto/north_america/thryothorus_ludo...,carwre

In [1]:
from datasets import load_dataset

In [2]:
ds = load_dataset("DBD-research-group/na_metadata50k")
# download time: 40 mins

Found cached dataset parquet (/home/lukas/.cache/huggingface/datasets/DBD-research-group___parquet/DBD-research-group--na_metadata50k-d5510c71c5ecd5da/0.0.0/2a3b91fbd88a2c90d1dbbb32b460cf621d31bd5b05b934492fdef7d8d6f236ec)

  0%|          | 0/2 [00:00<?, ?it/s]

In [26]:
ds["train"][0]

{'Unnamed: 0': 325805,
 'english_name': 'Northern Raven',
 'lat': 67.20123,
 'lng': -154.53601,
 'alt': '214',
 'type': 'call',
 'sex': None,
 'licence': '//creativecommons.org/licenses/by-nc-sa/4.0/',
 'q': 'B',
 'length_s': 76,
 'scientific_name': 'corvus corax',
 'continent': 'north_america',
 'secondary_sci': '[]',
 'ebird_code': 339,
 'audio': {'path': 'XC535000.ogg',
  'array': array([ 9.04992339e-06, -9.53266863e-07, -6.33765012e-07, ...,
          1.65803102e-03,  2.20180815e-03,  1.61758508e-03]),
  'sampling_rate': 32000},
 'secondary_ebird': '[]',
 'id': 535000,
 'file': 'data/xeno-canto/north_america/corvus_corax/XC535000.ogg'}

In [3]:
ds = ds.select_columns(['audio', 'ebird_code'])

In [30]:
ds["train"].format

{'type': None,
 'format_kwargs': {},
 'columns': ['audio', 'ebird_code'],
 'output_all_columns': False}

In [4]:
ds.set_format("np")

In [7]:
sample = ds["train"].select(range(1000))

In [32]:
sample

Dataset({
    features: ['audio', 'ebird_code'],
    num_rows: 1000
})

In [5]:
ds["train"].data.nbytes /1e9

18.23040643

In [6]:
ds["test"].data.nbytes /1e9

4.510534707

In [12]:
len(ds["train"].features["ebird_code"].names)

1385

In [5]:
ds

DatasetDict({
    train: Dataset({
        features: ['Unnamed: 0', 'english_name', 'lat', 'lng', 'alt', 'type', 'sex', 'licence', 'q', 'length_s', 'scientific_name', 'continent', 'secondary_sci', 'ebird_code', 'audio', 'secondary_ebird', 'id', 'file'],
        num_rows: 40000
    })
    test: Dataset({
        features: ['Unnamed: 0', 'english_name', 'lat', 'lng', 'alt', 'type', 'sex', 'licence', 'q', 'length_s', 'scientific_name', 'continent', 'secondary_sci', 'ebird_code', 'audio', 'secondary_ebird', 'id', 'file'],
        num_rows: 10000
    })
})

In [ ]:
# takes very long 
for i in tqdm(ds["train"]):
    pass

In [7]:
ds["train"][0]

{'ebird_code': 339,
 'audio': {'path': 'XC535000.ogg',
  'array': array([ 9.04992339e-06, -9.53266863e-07, -6.33765012e-07, ...,
          1.65803102e-03,  2.20180815e-03,  1.61758508e-03]),
  'sampling_rate': 32000}}

In [5]:
sample[0]

{'audio': {'path': 'XC535000.ogg',
  'array': array([ 9.04992339e-06, -9.53266863e-07, -6.33765012e-07, ...,
          1.65803102e-03,  2.20180815e-03,  1.61758508e-03]),
  'sampling_rate': 32000},
 'ebird_code': 339}

In [5]:
%load_ext autoreload
%autoreload 2
from src.data.extraction import CustomFeatureExtractor

feature_extractor = CustomFeatureExtractor()

def preprocess_function(samples):
    audio_arrays = [x["array"] for x in samples["audio"]]
    inputs = feature_extractor(
        audio_arrays,
        sampling_rate=feature_extractor.sampling_rate,
        padding=True,
        max_length=32_000*5,
        truncation=True,
        return_tensors="pt"
    )
    return inputs

In [9]:
encoded_sample = sample.map(
    preprocess_function,
    remove_columns=['audio'],
    batched=True,
    batch_size=50,
    num_proc=4,
    load_from_cache_file=True
)

Map (num_proc=4):   0%|          | 0/1000 [00:00<?, ? examples/s]

In [10]:
encoded_sample.format

{'type': 'numpy',
 'format_kwargs': {},
 'columns': ['ebird_code', 'input_values'],
 'output_all_columns': False}

In [12]:
len(encoded_sample[400]["input_values"]) / 32_000

5.0

In [14]:
from tqdm import tqdm

In [17]:
for i in tqdm(encoded_sample):
    pass

100%|██████████| 1000/1000 [00:00<00:00, 4140.02it/s]

In [6]:
encoded_ds = ds.map(
    preprocess_function,
    remove_columns=['audio'],
    batched=True,
    batch_size=1000,
    num_proc=4,
    load_from_cache_file=True
)

Map (num_proc=4):   0%|          | 0/40000 [00:00<?, ? examples/s]

Map (num_proc=4):   0%|          | 0/10000 [00:00<?, ? examples/s]

Once you have your final dataset you can save it on your disk and reuse it later using datasets.load_from_disk. Saving a dataset creates a directory with various files:

    arrow files: they contain your dataset’s data

    dataset_info.json: contains the description, citations, etc. of the dataset

    state.json: contains the list of the arrow files and other informations like the dataset format type, if any (torch or tensorflow for example)

In [10]:
encoded_ds.save_to_disk(
    "/home/lukas/data_bird_hf",
    num_proc=4,
    max_shard_size="1GB")

Saving the dataset (0/26 shards):   0%|          | 0/40000 [00:00<?, ? examples/s]

Saving the dataset (0/7 shards):   0%|          | 0/10000 [00:00<?, ? examples/s]

In [ ]:
# size of saved dataset: 30 GB

In [12]:
from datasets import load_from_disk

In [13]:
ds = load_from_disk("/home/lukas/data_bird_hf")

In [14]:
ds

DatasetDict({
    train: Dataset({
        features: ['ebird_code', 'input_values'],
        num_rows: 40000
    })
    test: Dataset({
        features: ['ebird_code', 'input_values'],
        num_rows: 10000
    })
})

In [17]:
%load_ext autoreload
%autoreload 2
from src.data.extraction import CustomCollatorWithPadding

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [34]:
encoded_ds["train"][0]["audio"]

{'path': 'XC535000.ogg',
 'array': array([ 9.04992339e-06, -9.53266863e-07, -6.33765012e-07, ...,
         1.65803102e-03,  2.20180815e-03,  1.61758508e-03]),
 'sampling_rate': 32000}

In [8]:
from tqdm import tqdm

In [9]:
for i in tqdm(encoded_ds["train"]):
    pass

# takes 11.6 seconds to run through 40k samples

  0%|          | 0/40000 [00:00<?, ?it/s]

100%|██████████| 40000/40000 [00:11<00:00, 3438.00it/s]

In [15]:
from torch.utils.data import DataLoader

In [20]:
ds.preprocessed=True

In [29]:
dataloader = DataLoader(
    ds["train"],
    collate_fn=CustomCollatorWithPadding(
        feature_extractor,
        padding='longest',
        return_tensors="pt",
        truncation=False   ,
        preprocessed=True     
    ),
    batch_size=8,
    shuffle=False,
    num_workers=4,
)

In [31]:
dataloader = DataLoader(
    ds["train"],
    batch_size=16,
    shuffle=False,
    num_workers=4,
)

In [32]:
for i in tqdm(dataloader):
    pass

#7.5 seconds with batch_size=16

  1%|          | 15/2500 [00:00<00:17, 145.69it/s]

100%|██████████| 2500/2500 [00:07<00:00, 332.85it/s]